<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html">
</head>

<body>
    <form class="form-group" method="post">
        <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-group">
            <div id="username-area">
                <label for="username">유저네임</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="유저네임">
            </div>
            <div id="password-area">
                <label for="password">패스워드</label>
                <input type="password" class="form-control" name="password" id="password" aria-describedby="비밀번호">
            </div>
            <button type="button" onclick="location.href='/user/signup'">회원가입</button>
            <button>로그인</button>
            <!--/*@thymesVar id="error" type="com.pb.expressdrive.Helper.Error.InternalServerError"*/-->
            <p th:if="${error}" id="errorMsg" th:text="${error?.getMessage()}"></p>
        </div>
    </form>
</body>

</html>

